<nav class="cover-navigation navigation--social">
  <ul class="navigation">


  <!-- Github -->
  <li class="navigation__item">
    <a href="http://github.com/{{ site.author.github }}" title="Liwiliwi 的 Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Weibo -->
  <li class="navigation__item">
    <a href="http://weibo.com/{{ site.author.twitter }}" title="@null" target="_blank">
      <i class='social fa fa-weibo'></i>
      <span class="label">Weibo</span>
    </a>
  </li>

  <!-- Twitter -->
  <li class="navigation__item">
    <a href="http://twitter.com/{{ site.author.twitter }}" title="@null" target="_blank">
      <i class='social fa fa-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>
  
  <!-- Csdn-->
  <li class="navigation__item">
    <a href="http://my.csdn.net/{{ site.author.Csdn}}" title="Liwiliwi 的 Csdn" target="_blank">
      <i class='social fa fa-Csdn'></i>
      <span class="label">Csdn</span>
    </a>
  </li>

  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:{{ site.author.email }}" title="554140410@qq.com">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>

  </ul>
</nav>